<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shorten</title>
</head>
<body>
    <h1>URL Shorten</h1>
    <form action="/" method="post" target="_self">
        <p>Content Parameter</p>
        <textarea name="content_parameter" id="" cols="30" rows="1"></textarea>
        <p>Content</p>
        <textarea name="content" id="" cols="30" rows="1"></textarea>
        <p>Type</p>
        <p>
            <input type="radio" name="content_type" id="" value="text" checked>text
        </p>
        <p>
            <input type="radio" name="content_type" id="" value="url">url
        </p>
        <p><input type="submit" value="送出資料"></p>
    </form>
</body>
</html>